div {
    font-family: 'Garamond', Courier, monospace;
}

hr {
    border:none;
    height: 20px;
       width: 95%;
      height: 50px;s
      margin-top: 0;
      border-bottom: 1px solid #1f1209;
      box-shadow: 0 20px 20px -20px #333;
    margin: -50px auto 10px; 
  }

  .mainframe {
    margin: 5px;
  }

  h3 {
    margin-left: 2.5%; 
  }

  h2 {
    margin-left: 2.5%;
  }

  p {
    margin-left: 3%;
    margin-right: 3%;
    text-wrap: balance
  }

  .skills  {
    list-style-type: none;
  }

   .term {
    font-style: italic;
  }

   .jobTitle {
    font-weight: bold;
    list-style-type: none;
   }

   .workLines {
    margin-left: 3%;
   }

   .education {
    list-style-type: none;
    font-weight: bold;
   }

   .certifications {
    margin-left: 3%;
   }
